a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color:red;
    background-color: transparent;
    text-decoration:underline ;
}
a:active {
    color: rgb(245, 221, 37);
    background-color:transparent;
    text-decoration: underline #008CBA 1px solid;
}