a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color:red;
    background-color: transparent;
    text-decoration:underline ;
}
a:active {
    color: yellow;
    background-color:#f44336 !important;
    text-decoration: underline #008CBA 1px solid;
}